body{
    background:gray;
}
.container{
    width:100%;
    background: linear-gradient(to left bottom,#09ff, #0dfe);
    margin: 10px 20px 10px 0px;
    display:inline-block;
}
.checkbox_container{
    margin: 10px 10px 10px 10px;
    display: flex;
}
h2{
    text-align: center;
}
.container_response{
    width: 50%;
    height: 40%;
    outline-style: double;
    outline-color: #00ff44;
    background-color: khaki;
    text-align: center;
    margin:auto;
}
.answer{
    margin:auto;
}
input[type=checkbox]{
    display:none;
    position: fixed;

}
label {
    border: 1px solid #460a69;
    padding: 3px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  label::before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid #460a69;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
  label img {
    height: 40px;
    width: 40px;
    transition-duration: 0.2s;
    transform-origin: 100% 100%;
  }
  
  :checked+label {
    border-color: #55dd;
  }
  
  :checked+label::before {
    content: "✓";
    background-color: #00ff44;
    transform: scale(1);
  }
  
  :checked+label img {
    transform: scale(0.7);
    box-shadow: 0 0 5px #460a69;
    z-index: -1;
  }